################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client_secret.json
/client-secret.json
/Stat Boy Information.txt
__pycache__/potential.cpython-38.pyc
*.pyc
*.pyc
